// variables parametro de pantalla para responsive

// sass/abstracts/_variables.scss

$bp-tablet: 768px;
$bp-tablet-horizontal: 992px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1400px;

//colors
$pink: #DB2A6B;
$bg: #2B2D38;
$gray: #60616A;
$white: #FFFFFF;
